[Unit]
Description=Pastebin Scraper
Wants=network-online.target
After=network.target network-online.target

[Service]
User=pastebin
Group=nogroup
SyslogIdentifier=pastebin
ExecStart=/home/pastebin/pastebin_scraper -config /home/pastebin/config.json -debug
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
